My workflow 2.json
{
  "name": "Email Assistant Workflow",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [-192, -160],
      "name": "Telegram Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an email assistant.\nBased on the user’s request, you will either:\n\nSummarize an email\nSend an email\nSummarize an email and send the summary\n\nAfter completing the task, return only an execution report.\n\nOutput format (mandatory):\n\nTask Performed:\nEmail Summary / Email Sent / Email Summary & Sent\n\nDetails:\nIf summarized: briefly state that the email was summarized\nIf sent: state the recipient email address\nIf both: state that the email was summarized and sent\n\nStatus:\nSuccess\n\nRules:\nDo not include the email content unless explicitly requested\nDo not explain reasoning\nKeep the report short and factual\nNo greetings or extra text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [16, -160],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-32, 64],
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ $fromAI('Limit', '', 'number') }}",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [304, 32],
      "name": "Get many messages in Gmail"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [368, -160],
      "name": "Send a text message"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('To', '', 'string') }}",
        "subject": "={{ $fromAI('Subject', '', 'string') }}",
        "message": "={{ $fromAI('Message', '', 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [176, 48],
      "name": "Send a message in Gmail"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Get many messages in Gmail": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Send a text message", "type": "main", "index": 0 }]]
    },
    "Send a message in Gmail": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  }
}
