My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -192,
        -160
      ],
      "id": "9655ac2c-462d-4d0e-9e39-ca0a62c61805",
      "name": "Telegram Trigger",
      "webhookId": "b8772ad6-55bc-4c62-b0f2-e9a662ed8610",
      "credentials": {
        "telegramApi": {
          "id": "Foz6v3tVdCeTh9j6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an email assistant.\nBased on the user’s request, you will either:\n\nSummarize an email\n\nSend an email\n\nSummarize an email and send the summary\n\nAfter completing the task, return only an execution report describing what was done.\n\nOutput format (mandatory):\n\nTask Performed:\n\nEmail Summary / Email Sent / Email Summary & Sent\n\nDetails:\n\nIf summarized: briefly state that the email was summarized\n\nIf sent: state the recipient email address\n\nIf both: state that the email was summarized and sent\n\nStatus:\n\nSuccess\n\nRules:\n\nDo not include the email content unless explicitly requested\n\nDo not explain reasoning\n\nKeep the report short and factual\n\nNo greetings or extra text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        16,
        -160
      ],
      "id": "4b224d15-52b1-467f-8947-63b8b2ca206e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -32,
        64
      ],
      "id": "08fdaa36-6655-4dce-a10a-3d20e66e9d2a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XE11Q09NYF1wDOYI",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        304,
        32
      ],
      "id": "ae420968-0f01-4cac-bf70-62ed515021c0",
      "name": "Get many messages in Gmail",
      "webhookId": "7daed450-3dd5-487b-8a92-d72f46396324",
      "credentials": {
        "gmailOAuth2": {
          "id": "gGsjmyyn5rCM4ife",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        -160
      ],
      "id": "7429262d-6e99-4e1c-98ad-0f4968db381f",
      "name": "Send a text message",
      "webhookId": "69f24574-7b0a-4cce-b8d4-b19bf98e07cc",
      "credentials": {
        "telegramApi": {
          "id": "Foz6v3tVdCeTh9j6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        176,
        48
      ],
      "id": "a6ecf376-6d88-4ccb-a3e9-550d9a64f26c",
      "name": "Send a message in Gmail",
      "webhookId": "e9302c1c-6f4b-409c-b6f2-aa2f7177848c",
      "credentials": {
        "gmailOAuth2": {
          "id": "gGsjmyyn5rCM4ife",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "588248f1-70b4-463f-8b54-e894f56cb5f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e2c05ac8c6bbab30c4ef556cacf2d7390a71eec86119736a7148f1a95f748c34"
  },
  "id": "3fhfJM6pMw6TPt8P",
  "tags": []
}